---
// src/pages/articles/index.astro
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';

// 1. 記事データを取得
// 降順（新しい順）に並び替え
const posts = (await getCollection('articles')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title="Articles">
  <h1>Articles</h1>
  <p>成果物と技術記事のアーカイブ</p>

  <ul>
    {posts.map((post) => (
      <li>
        <a href={`/articles/${post.slug}`}>
          {/* 記事タイトル */}
          <strong>{post.data.title}</strong>
        </a>
        <br/>
        
        {/* 日付とタグの表示 */}
        <small style="color: #666;">
          {post.data.pubDate.toLocaleDateString('ja-JP')}
          {post.data.tags.length > 0 && ` - [${post.data.tags.join(', ')}]`}
        </small>
      </li>
    ))}
  </ul>
</BaseLayout>